body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calc-body {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 100px;
    padding: 5px;
}

#calc-display {
    box-sizing: border-box;
    border: 1px solid black;
    text-align: right;
    grid-column-end: span 4;
    padding: 5px;
}

.calc-button.seven {
    grid-column-start: 1;
}

.calc-button.divide {
    grid-column-start: 4;
}

.calc-button.zero {
    grid-column-start: 2;
}

.calc-button.equals {
    grid-column-start: 4;
}