body {
    display: flex;
    justify-content: center;
    background-color: #FAFFFD;
}

#calc-body {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 400px;
}

#calc-display {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #262626;
    background-color: #262626;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 90px;
}

#calc-display div {
    padding: 5px;
    text-align: right;
    color: #fff;
}

#current-value {
    font-size: 42px;
}

#calc-buttons {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 400px;
    box-sizing: border-box;
    border: 5px solid #262626;
    background-color: #255c99;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#calc-buttons button {
    border: 2px solid black;
    border-radius: 1em;
}

#calc-buttons button:hover {
    filter: brightness(120%);
}

#calc-buttons button:active {
    filter: brightness(90%);
}

#calc-buttons .digit {
    background-color: #7EA3CC;
}

#calc-buttons .operator {
    background-color: #CCAD8F;
}
#calc-buttons .clear,
              .backspace {
    background-color: #851421;
}

#calc-buttons .seven {
    grid-column-start: 1;
}

#calc-buttons .divide {
    grid-column-start: 4;
}

#calc-buttons .zero {
    grid-column-start: 2;
}

#calc-buttons .equals {
    grid-column-start: 4;
}